table {
  border-collapse: collapse;
  width: 100%;
}

.login table {
  width: auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.login th {
  border-bottom: none;
}

.login td {
  border-bottom: none;
}
